In [140]:
import numpy as np
import pandas as pd

In [141]:
df = pd.read_csv('customer.csv')

In [142]:
df.sample(5)

    age  gender   review education purchased
35   74    Male     Poor    School       Yes
30   73    Male  Average        UG        No
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
21   32    Male  Average        PG        No

In [143]:
df = df.iloc[:,2:]

In [144]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [145]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [146]:
X_train.head()

     review education
25     Good    School
9      Good        UG
20  Average    School
37  Average        PG
33     Good        PG

In [147]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
X_train = oe.fit_transform(X_train)
X_test = oe.transform(X_test)

In [148]:
X_train

array([[2., 0.],
       [2., 1.],
       [1., 0.],
       [1., 2.],
       [2., 2.],
       [2., 0.],
       [2., 1.],
       [0., 0.],
       [2., 2.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [2., 1.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [0., 0.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [2., 1.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [2., 1.],
       [2., 2.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [0., 1.],
       [2., 0.]])

In [149]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

#LABEL ENCODING

before label encoding the target label categorized as .. yes/no

In [150]:
y_train

25     No
9     Yes
20    Yes
37    Yes
33    Yes
6      No
48    Yes
12     No
42    Yes
30     No
1      No
16    Yes
36    Yes
8      No
14    Yes
39     No
44     No
43     No
41    Yes
7     Yes
35    Yes
27     No
5     Yes
38     No
10    Yes
47    Yes
23     No
46     No
29    Yes
2      No
32    Yes
45    Yes
4      No
49     No
3      No
15     No
28     No
13     No
17    Yes
18     No
Name: purchased, dtype: object

In [151]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)

In [152]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [153]:
y_train

array([0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0])

In [155]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# X_train and X_test are already Ordinal Encoded from a previous cell
X_train_ord = X_train
X_test_ord = X_test

# Train model
model_ord = LogisticRegression()
model_ord.fit(X_train_ord, y_train)

# Predict
y_pred_ord = model_ord.predict(X_test_ord)

print("Ordinal Encoding Accuracy:", accuracy_score(y_test, y_pred_ord))

Ordinal Encoding Accuracy: 0.7

In [157]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Re-split the original data to get features for One-Hot Encoding
# Ensure we get the *original* string categories
X_train_ohe_raw, X_test_ohe_raw, y_train_ohe_raw, y_test_ohe_raw = train_test_split(df.iloc[:,0:2], df.iloc[:,-1], test_size=0.2)

# One-Hot Encode the features
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

X_train_ohe = ohe.fit_transform(X_train_ohe_raw)
X_test_ohe = ohe.transform(X_test_ohe_raw)

# Label Encode the target variable for the OHE model
le_ohe = LabelEncoder()
y_train_ohe = le_ohe.fit_transform(y_train_ohe_raw)
y_test_ohe = le_ohe.transform(y_test_ohe_raw)

# Train model
model_ohe = LogisticRegression()
model_ohe.fit(X_train_ohe, y_train_ohe)

# Predict
y_pred_ohe = model_ohe.predict(X_test_ohe)

print("One-Hot Encoding Accuracy:", accuracy_score(y_test_ohe, y_pred_ohe))

One-Hot Encoding Accuracy: 0.5